*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vh-value: 50vh; /* Переменная для 50vh */
    --rem-value: 5rem; /* Переменная для 2rem */
    --wd-value: 100px;
}

body {
    margin-inline: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

ul {
    display: flex;
}

a {
    text-decoration: none;
    transition: opacity .3s;
}

a:hover {
    opacity: 0.7;
}

.hidden {
    display: none;
}

.text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

main {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

header {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav ul {
    gap: 4rem;
}

.header_nav ul {
    gap: 4rem;
}

.current_page {
    color: rgb(94, 153, 201);
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: normal; 
}

.h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.phones {
    display: flex;
    gap: 1rem;
}

.phones-cont, .feed-back {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.phone {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.phone span {
    color: rgb(245, 184, 34);
}

.social-networks {
    display: flex;
    gap: 3rem;
}

.place {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.place-cont {
    display: flex;
    gap: 3rem;
}

.place-cont-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 75%;
}

.place-desc {
    display: flex;
    flex-direction: column;

}

.place-btn {
    font-size: 36px;
    font-weight: 500;
    border-radius: 20px;
    background: rgb(245, 184, 34);
    color: #FFF;
    text-align: center;
    width: max-content;
    padding: 1rem 5rem;
}

.address-cont {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.address-cont img {
    width: 5rem;
    height: auto;
}

.address-text {
    height: max-content;
}

.address {
   font-size: 20px;
    font-weight: 500;
    line-height: normal; 
}

.address-time {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.place__name {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

.phoness {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.email {
    color: #00C1FF;
    text-decoration: underline;
}

.iframe-div {
    width: 100%; 
}

iframe {
    width: 100%;
}

.place-desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.place-addresses {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    align-items: center;
    padding-top: 2rem;
}

.footer-nav {
    display: flex;
    gap: 4rem;
}

.footer-nav a {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left; 
}

.footer-imgs {
    display: flex;
    gap: 1rem;
}

.footer-imgs img {
    cursor: pointer;
}

.logo3 {
    display: none;
}

.footer-content {
    width: 100%;
    margin-top: 3rem;
    background-color: #EDF2F4;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
} 

.burger.white::after, .burger.white::before, .burger.white span {
    background-color: white;
}

.burger span {
    background-color: black;
}

.burger::before, .burger::after {
    background-color: black;
}
   

@media (max-width: 1550px) {
    header, footer, main {
        width: 100%;
        padding-inline: 5vw;
    }

    .main-section img{
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .h1 {
        font-size: 36px;
    }

    .h2, .place-btn, .place__name {
        font-size: 28px;
    }

    .place-btn {
        padding: 1rem 3rem;
    }

    .phone {
        font-size: 20px;
    }

    .social-networks {
        gap: 0;
        width: max-content;
    }

    .social-networks a {
        margin-inline: auto;
        width: 20%;
    }

    .social-networks img {
        width: 100%;
    }

    .phoness {
        font-size: 14px;
    }

    .address-cont img {
        width: 3rem;
    }

    .address, .address-time {
        font-size: 16px;
    }

    .place-cont {
        gap: 1.5rem;
    }

    .iframe-div {
        width: 70%;
    }

}

@media (max-width: 900px) {
    .h1 {
        font-size: 28px;
    }

    .h2, .place-btn, .place__name {
        font-size: 24px;
    }

    .phone {
        font-size: 18px;
    }

    .place-btn {
        width: 50%;
        padding: 1rem;
    }
}

@media (max-width: 800px) {
    .footer-nav {
        gap: 1rem;
    }

    .footer-nav a {
        font-size: 16px;
    }

    .header_nav {
        gap: 2rem;
    }

    .header_nav a {
        font-size: 18px;
    }

    .phone {
        font-size: 16px;
    }

    main {
        gap: 2rem;
    }

    .iframe-div {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__logo {
        display: none;
    }

    header {
        justify-content: left;
        gap: 1rem;
    }

    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .phone {
        font-size: 14px;
    }

    .phones {
        gap: .5rem;
    }

    .social-networks {
        width: 40%;
        margin-inline: auto;
        gap: 1rem;
    }

    .social-networks a {
        width: 100%;
    }

    .footer-imgs {
        display: none;
    }

    footer {
        gap: 2rem;
        flex-direction: column;
    }

    .footer-nav {
        justify-content: space-between;
        width: 100%;
    }

    .logo2 {
        display: none;
    }

    .footer-logo {
        display: block;
    }
    
    .logo3 {
        display: block;
    }


    .footer-nav a {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .phones {
        width: 100vw;
        padding-left: 2vw;
    }

    .number {
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    .place-btn {
        font-size: 18px;
        padding: .5rem;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .h2 {
        font-size: 20px;
    }
}